build
venv
.vscode/settings.json
src/*.mod
*.save
*.pyc
.vscode/cmake-kits.json
benchs/*/results/*.vtu
benchs/*/results/*.vtk
.coverage
src/nurbspatch.mod
benchs/*/test.py
examples/OPT_stiffPanel/results/*.vtk
examples/OPT_stiffPanel/results/*.vtu
examples/OPT_tube_pressure/results/*.vtu
examples/OPT_tube_pressure/results/*.vtk
examples/OPT_tube_pressure/results/*.txt
examples/OPT_tube_pressure/results/*.png
examples/OPT_multi_stiffeners_position/results/*.vtu
examples/OPT_multi_stiffeners_position/results/*.vtk
examples/OPT_multi_stiffeners_position/results/*.vtu
examples/bench_solver/time.txt
verif_proj_patch*.txt
warnings_proj_patch*.txt

