build
dist
venv
.vscode/settings.json
*.mod
*.save
*.pyc
*.log
.vscode/cmake-kits.json
benchs/*/results/*.vtu
benchs/*/results/*.vtk
benchs/*/*.vtu
benchs/*/*.vtk
.coverage
benchs/*/test.py
examples/*/results/*.vtk
examples/*/results/*.vtu
examples/*/results/*.txt
examples/*/results/*.png
docs/doctrees
docs/html

docs/doctrees
docs/html


src/yeti_iga/future/build


examples/bench_solver/time.txt
verif_proj_patch*.txt
warnings_proj_patch*.txt

examples/OPT_multi_stiffeners_position/Cylinder_multi.*
examples/feti/pcpg_cvrg.txt
benchs/coupling_U5/results/*_proj_*.txt

examples/feti/CsideU4.txt

.venv*
.vscode
wheelhouse
temp


