build
venv
.vscode/settings.json
src/*.mod
*.save
.vscode/cmake-kits.json
benchs/*/results/*.vtu
benchs/*/results/*.vtk
.coverage
src/nurbspatch.mod
benchs/*/test.py
examples/OPT_stiffPanel/results/*.vtk
examples/OPT_stiffPanel/results/*.vtu
examples/OPT_tube_pressure/results/*.vtu
